<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <img class="footer-logo centered" src="{{site.baseurl}}/assets/images/shs-logo-header.jpg" alt="SHS Hagen Selbsthilfe in Gruppen und Beratung, Hilfe bei Alkoholsucht">
        <p class="centered">SHS Hagen-Selbsthilfe Sucht</p>
        <p class="centered">{{ site.description | escape }}</p>
        <ul class="footer-nav ">
          <li><a href="datenschutz.html">Impressum & Datenschutz</a></li>
          <li><a href="https://unsplash.com" target="_blank">Bildquelle</a></li>
        <ul>
      </div>
  </div>
</footer>
