.footer {
  &-nav {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin-right: 10px;
    }

    a, a:visited {
      color: #000;
      text-decoration: underline;
    }
  }

  &-col-wrapper {
    padding: 1.5rem;
  }
}
