.footer {
  &-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      margin-right: 10px;
    }
  }

  &-col-wrapper {
    padding: 1.5rem;
  }
}
