---
---

@import "{{ site.theme }}";
@import "section";
@import "colors";
@import "footer";
@import "logo";
@import "site";
@import "page";
@import "layout";

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Syne+Mono);


body {
  font-size:16px;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Syne Mono', sans-serif;
}

.section__content {
  line-height: 1.6;
}

a {
  text-decoration: underline;
}
