---
---

@import "{{ site.theme }}";

body {
  width: 100%;
}

.home, .post {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
};

.post-content h1, h2, h3 { 
  margin-top: 10px; 
}

.logo {
  text-align: center;
  width: 80px;
}

.header-logo {
  width: 40px;
  padding: 10px 5px 0 0;
  float: left;
}

.site-title {
  float: unset;
}

h1.post-title {
    font-size: 28px;
    margin: 10px 0 0 0;
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    margin-right: 10px;
  }
}

.section {
  background: #ff6b6b;
  
  &__title {
    font-weight: 300;
    color: red;
    border-bottom: 1px solid red;
  }

  &__wrapper {
    margin: 10px;
    border-top: 1px solid red;
  }

  &__content {
    padding: 20px;
  }
}

.page-heading {
  margin-bottom: 30px;
}
