---
---

@import "{{ site.theme }}";
// custom styles here

.wrapper {
  width: 90%;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 0px #d0cece9c;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ff000017;
};

.logo {
  text-align: center;
  width: 80px;
}

.site-footer * {display: none;}

.header-logo {
  width: 40px;
  padding: 10px 5px 0 0;
  float: left;
}

a.site-title {
  float: unset;
  font-weight: bold;
  color: red;

  &:visited {
    color: red;
  }
}
